<nav class="nav">
    <div class="nav-left">
            <div class="input-box__text">
                <div class="facebook-search">
                    <img src="./assets/images/Facebook_Logo_(2019).png.webp" alt="" width="40px" height="40px"/>
                </div>
                <label for="search">
                    <input type="search" id="search"  placeholder="Facebook Search">
                </label>
            </div>
        </div>
    </div>
    <div class="nav-middle">
        <div class="facebook-icons">
            <div class="facebook-icons__icon active"><i class="ri-home-fill"></i></div>
            <div class="facebook-icons__icon"><i class="ri-flag-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-movie-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-group-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-microsoft-line"></i></div>   
        </div>
    </div>
    <div class="nav-right">
        <div class="facebook-services">
            <div class="user-icon"> 
                <img src="../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="" class="image-rounded">
            </div>
                <div class="facebook-services__service "><i class ="ri-grid-fill"></i></div>
                <div class="facebook-services__service"><i class ="ri-messenger-fill"></i></div>
                <div class="facebook-services__service"><i class="ri-notification-4-fill"></i></div>
                <div class="facebook-services__service"><i class ="ri-arrow-down-s-fill"></i></div>
        </div>
    </div>
</nav>