* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Segoe UI italic, Segoe UI, helvetics, arial, sans-serif;
}
body::before {
  content: "";
  display: block;
  height: 6.25rem;
}

.page-content__left .wrapper, .page-content__right .wrapper {
  position: sticky;
  top: 6.25rem;
}

.facebook-contacts__contact, .facebook-pages__page, .facebook-favorites__favorite, .facebook-shortcuts__shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  padding: 0.625rem;
  font-weight: 500;
  font-size: 1rem;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 0rem;
}
.page-content__left {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  max-width: 22.5rem;
}
.page-content__middle {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  max-width: 42.5rem;
}
.page-content__right {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  max-width: 22.5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  background-color: white;
  padding: 1.25rem;
  -webkit-box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.0509803922);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-left {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  max-width: 22.5rem;
}
.nav-middle {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  max-width: 42.5rem;
}
.nav-right {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  max-width: 22.5rem;
}

.input-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.input-box__text label {
  width: 100%;
}
.input-box__text input {
  border: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: #efefef;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  font-size: 15px;
  width: inherit;
}

.facebook-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  font-size: 1.8rem;
  color: #656565;
}
.facebook-icons .active {
  color: #1b75eb;
}

.facebook-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
}
.facebook-services__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 1.4rem;
  background-color: #e4e4e4;
}

.image-rounded {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.facebook-shortcuts__shortcut i {
  color: #1b75eb;
  font-size: 1.4rem;
}

h4 {
  border-top: 1px solid #ccc;
  padding: 0.625rem;
  margin: 0.625rem;
}

.facebook-favorites__favorite {
  position: relative;
  overflow: hidden;
}
.facebook-favorites__favorite div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.facebook-favorites__favorite img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.facebook-sponsers__sponser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1.25rem;
  text-align: center;
}
.facebook-sponsers__sponser img {
  max-width: 50%;
  height: 100%;
  border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
}

.sponser {
  border-top: none !important;
  padding: 0.625rem;
}

.facebook-pages__page img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.facebook-contacts__contact img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  padding-top: 0.625rem;
}
.stories .story {
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}
.stories .story .image-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 6.25rem;
  height: 11.25rem;
  margin: unset;
  padding: 0.625rem;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1254901961);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1254901961);
  background-color: rgba(0, 0, 0, 0.2509803922);
  background-blend-mode: multiply;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}
.stories img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #1b75eb;
  outline: 1px solid white;
}
.stories .story.story-1 {
  background-image: url("https://picsum.photos/id/3/100/180");
}
.stories .story.story-2 {
  background-image: url("https://picsum.photos/id/48/100/180");
}
.stories .story.story-3 {
  background-image: url("https://picsum.photos/id/18/100/180");
}
.stories .story.story-4 {
  background-image: url("https://picsum.photos/id/64/100/180");
}
.stories .story.story-5 {
  background-image: url("https://picsum.photos/id/70/100/180");
}
.stories .story.story-6 {
  background-image: url("https://picsum.photos/id/66/100/180");
}
.stories .user-name--text {
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7215686275);
  font-size: 0.8rem;
}

.create-post {
  padding: 0.9375rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  background-color: white;
}
.create-post img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.create-post .create-post__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  padding-top: 0.625rem;
  margin-top: 0.625rem;
  border-top: 1px solid #e4e4e4;
}
.create-post .create-post__buttons__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 1.125rem;
}
.create-post .create-post__buttons__button span {
  color: #656565;
}
.create-post .create-post__buttons__button .one {
  color: red;
}
.create-post .create-post__buttons__button .two {
  color: orange;
}
.create-post .create-post__buttons__button .three {
  color: green;
}

.create-room {
  padding: 0.9375rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
}
.create-room img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.create-room__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 1.125rem;
  padding: 0.3125rem 0.9375rem;
  border: 2px solid #efefef;
  border-radius: 1.5625rem;
  -webkit-border-radius: 1.5625rem;
  -moz-border-radius: 1.5625rem;
  -ms-border-radius: 1.5625rem;
  -o-border-radius: 1.5625rem;
}
.create-room__button span {
  color: #656565;
}
.create-room__button i {
  color: #1b75eb;
}

.news-feed {
  padding: 0.9375rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  background-color: white;
}
.news-feed__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.news-feed__header__user-image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.news-feed__header > div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.news-feed__header__user-name {
  font-weight: 600;
}
.news-feed__header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-size: 0.9375rem;
  color: #656565;
}
.news-feed__header__option {
  font-size: 2rem;
  position: relative;
  top: -0.9375rem;
  line-height: 0;
  font-weight: bold;
}
.news-feed__feed p, .news-feed__feed img {
  margin-top: 0.625rem;
}
.news-feed__feed__image-post img {
  border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
}
.news-feed__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}
.news-feed__footer__reaction {
  font-size: 1.2rem;
}
.news-feed__footer .comments {
  color: #656565;
  font-size: 0.9375rem;
}
.news-feed__create-comment {
  margin-top: 0.625rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}