<div class="wrapper">
    <div class="stories">
            <div class="story story-1">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        Golden 
                    </div>
                </div>
            </div>
            <div class="story story-2">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        Ossy 
                    </div>
                </div>
            </div>
            <div class="story story-3">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        Maher Jojo
                    </div>
                </div>
            </div>
            <div class="story story-4">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        Obada Soso
                    </div>
                </div>
            </div>
            <div class="story story-5">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        Redwan Toto
                    </div>
                </div>
            </div>
            <div class="story story-6">
                <div class="image-story">
                    <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="">
                    <div class="user-name--text">
                        ahmed 
                    </div>
                </div>
            </div>
    </div>

    <div class="create-post">
        <div class="input-box__text">
            <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt=""class="create-post__image">
            <label for="text">
                <input type="text" id="tex" placeholder="Whats on Your Mound , abood ">
            </label>
        </div>
        <div class="create-post__buttons">
            <div class="create-post__buttons__button">
                <i class="ri-video-add-fill one"></i>
                <span>Live Video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-image-line two"></i>
                <span>Photo/Video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line three"></i>
                <span>Felling/activity</span>
            </div>
        </div>
    </div>

    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill one"></i>
            <span>Create Room</span>
        </div>
        <div class="create-room__images">
            <img src="https://picsum.photos/id/1000/64/64" alt="">
            <img src="https://picsum.photos/id/1001/64/64" alt="">
            <img src="https://picsum.photos/id/1002/64/64" alt="">
            <img src="https://picsum.photos/id/1003/64/64" alt="">
            <img src="https://picsum.photos/id/1004/64/64" alt="">
            <img src="https://picsum.photos/id/1005/64/64" alt="">
            <img src="https://picsum.photos/id/1006/64/64" alt="">
            <img src="https://picsum.photos/id/1008/64/64" alt="">
            <img src="https://picsum.photos/id/1020/64/64" alt="">
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__user-image">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="" class="image-rounded">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__user-name">Golden Abood</div>
                <span><i class="ri-earth-line"></i>2d ago</span>
            </div>
            <div class="news-feed__header__option">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__fee__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto magnam omnis ullam modi enim, quia consequuntur voluptatem excepturi 
                voluptas error molestias vitae maiores pariatur assumenda doloremque minima praesentium! 
                Molestias, nesciunt.
            </p>
            <div class="news-feed__feed__image-post">
                <img src="../../assets/images/video-preview.jpg" id="abood" alt="" style="max-width: 100%; max-height: 40%;">
            </div>
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__create-comment">
            <div class="input-box__text">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt=""class="image-rounded">
                <label for="text">
                    <input type="text" id="tex" placeholder="Whats on Your Mound , abood">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__user-image">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="" class="image-rounded">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__user-name">Golden Abood</div>
                <span><i class="ri-earth-line"></i>2d ago</span>
            </div>
            <div class="news-feed__header__option">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__fee__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto magnam omnis ullam modi enim, quia consequuntur voluptatem excepturi 
                voluptas error molestias vitae maiores pariatur assumenda doloremque minima praesentium! 
                Molestias, nesciunt.
            </p>
            <div class="news-feed__feed__image-post">
                <img src="../../assets/images/videos-01.jpg" id="abood" alt="" style="max-width: 100%; max-height: 40%;">
            </div>
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__create-comment">
            <div class="input-box__text">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt=""class="image-rounded">
                <label for="text">
                    <input type="text" id="tex" placeholder="Whats on Your Mound , abood">
                </label>
            </div>
        </div>
    </div>


    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__user-image">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="" class="image-rounded">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__user-name">Golden Abood</div>
                <span><i class="ri-earth-line"></i>2d ago</span>
            </div>
            <div class="news-feed__header__option">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__fee__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto magnam omnis ullam modi enim, quia consequuntur voluptatem excepturi 
                voluptas error molestias vitae maiores pariatur assumenda doloremque minima praesentium! 
                Molestias, nesciunt.
            </p>
            <div class="news-feed__feed__image-post">
                <img src="../../assets/images/videos-01.jpg" id="abood" alt="" style="max-width: 100%; max-height: 40%;">
            </div>
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__create-comment">
            <div class="input-box__text">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt=""class="image-rounded">
                <label for="text">
                    <input type="text" id="tex" placeholder="Whats on Your Mound , abood">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__user-image">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt="" class="image-rounded">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__user-name">Golden Abood</div>
                <span><i class="ri-earth-line"></i>2d ago</span>
            </div>
            <div class="news-feed__header__option">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__fee__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto magnam omnis ullam modi enim, quia consequuntur voluptatem excepturi 
                voluptas error molestias vitae maiores pariatur assumenda doloremque minima praesentium! 
                Molestias, nesciunt.
            </p>
            <div class="news-feed__feed__image-post">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" id="abood" alt="" style="max-width: 100%; max-height: 40%;">
            </div>
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__create-comment">
            <div class="input-box__text">
                <img src="../../assets/images/photo_٢٠٢٢-١٢-٠٨_١٢-٣٥-٥١.jpg" alt=""class="image-rounded">
                <label for="text">
                    <input type="text" id="tex" placeholder="Whats on Your Mound , abood">
                </label>
            </div>
        </div>
    </div>
</div>