<div class="wrapper">
    <!--One-->
    <h4 class="sponser">Sponsered</h4>
    <div class="facebook-sponsers">
        <div class="facebook-sponsers__sponser">
            <img src="../../assets/images/videos-01.jpg" alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Eveniet delectus, nihil esse error animi
            </div>
        </div>
        <div class="facebook-sponsers__sponser">
            <img src="../../assets/images/video-preview.jpg" alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Eveniet delectus, nihil esse error animipages
            </div>
        </div>
    </div>
    <!--Two-->
    <h4>Your Pages</h4>
    <div class="facebook-pages__page">
        <img src="../../assets/images/cat-01.jpg" alt="" class="facebook-pages__page--image">
        <div class="facebook-pages__page--text">
                Battlefiled 2
        </div>
    </div>
    <div class="facebook-pages__page">
        <img src="../../assets/images/cat-02 (1).jpg" alt="" class="facebook-pages__page--image">
        <div class="facebook-pages__page--text">
            Call OF duty
        </div>
    </div>
    <div class="facebook-pages__page">
        <img src="../../assets/images/cat-06.jpg" alt="" class="facebook-pages__page--image">
        <div class="facebook-pages__page--text">
            Assasins Creed
        </div>
    </div>
    <!--Three-->
    <h4 class="contact">Contact</h4>
    <div class="facebook-contacts__contact">
        <img src="../../assets/images/team-07.jpg" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Ossama desho
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="../../assets/images/team-06.png" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            maher jojo
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="../../assets/images/team-05.png" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            ahmed hesho
        </div>
    </div>

    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/20/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            redwan roro 
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/27/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Ghaith roro
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/22/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Obada soso
        </div>
    </div>

    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/24/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Ahmed Shosho 
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/23/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Golden Abood
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/2/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            Mohamede hoho
        </div>
    </div>

    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/6/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            haitham koko
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/7/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            abood abood
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/8/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            aihan hoho
        </div>
    </div>


    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/100/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            king abood 
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/33/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            amr soso
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/11/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            gaith koko
        </div>
    </div>


    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/22/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            abdullah za  
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/300/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            ahmed shaker
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/90/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            lorem ipsum
        </div>
    </div>


    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/50/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            maher jojo
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/30/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            ahmed hoho
        </div>
    </div>
    <div class="facebook-contacts__contact">
        <img src="https://picsum.photos/id/80/64/64" alt="" class="facebook-contacts__contact--image">
        <div class="facebook-contacts__contact--text">
            ossy desho
        </div>
    </div>
</div>